.profile {
  display: flex;
  justify-content: center;
  padding: 74px 0 70px;
  min-height: calc(100vh - 74px);
  box-sizing: border-box;
}

.profile__content {
  display: flex;
  flex-direction: column;
  flex-basis: 410px;
  gap: 123px;
}

.profile__greeting {
  align-self: center;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile__field {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 0 0;
}

.profile__field:first-of-type {
  padding: 0;
  border-bottom: 1px solid rgb(232 232 232);
}

.profile__label {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__input {
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: end;
  border: none;
}

.profile__input:focus {
  border-radius: 2px;
  outline: 1px solid rgb(160 160 160);
}

.profile__input_type_error {
  color: rgb(238 52 101);
}

.profile__error-message {
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  color: rgb(238 52 101);
}

.profile__actions-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__edit-button {
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  background-color: transparent;
}

.profile__logout-button {
  margin: 16px 0 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(238 52 101);
  border: none;
  background-color: transparent;
}

.profile__submit-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
}

.profile__submit-button {
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgb(255 255 255);
  background-color: rgb(255 104 56);
  border: none;
  border-radius: 3px;
}

/* 1280px */

@media screen and (max-width: 1280px) {
  .profile {
    padding: calc((100vw - 768px) / (1280 - 768) * (74 - 236) + 236px) 0 calc((100vw - 768px) / (1280 - 768) * (70 - 269) + 269px);
  }

  .profile__content {
    gap: calc((100vw - 768px) / (1280 - 768) * (123 - 96) + 96px);
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .profile {
    padding: calc((100vw - 320px) / (768 - 320) * (236 - 70) + 70px) 0 calc((100vw - 320px) / (768 - 320) * (269 - 40) + 40px);
  }

  .profile__content {
    gap: calc((100vw - 320px) / (768 - 320) * (96 - 80) + 80px);
    padding: 0 30px;
  }
}

/* 320px */

@media screen and (max-width: 320px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__content {
    gap: 80px;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__submit-button {
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }
}
