.not-found {
  display: grid;
  grid-template-rows: 35% auto 65%;
  grid-template-areas:
    "."
    "error"
    "link";
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found__error {
  grid-area: error;
  justify-self: center;
  align-self: center;
}

.not-found__title {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 174px;
}

.not-found__subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  vertical-align: top;
}

.not-found__link {
  grid-area: link;
  justify-self: center;
  align-self: center;
  margin: 0 0 25%;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: rgb(255 104 56);
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
