.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
