.navigation__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__auth {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0 0 0 60px;
  list-style: none;
}

.navigation__link {
  color: rgb(0 0 0);
  text-decoration: none;
}

.navigation__link_type_logo {
  display: block;
  width: 38px;
  height: 38px;
  background: url("../../images/logo.svg") no-repeat center / contain;
}

.navigation__link_type_films {
  padding: 0 0 3px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.navigation__link_type_profile {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 20px;
  background-color: rgb(249 249 249);
}

.navigation__link_type_register {
  color: rgb(255 255 255);
}

.navigation__link_type_login {
  padding: 8px 20px;
  color: rgb(0 0 0);
  border-radius: 3px;
  background-color: rgb(43 224 128);
}

.navigation__link_type_landing {
  color: rgb(255 255 255);
}

.navigation__link_active {
  font-weight: 500;
  border-bottom: 2px solid rgb(0 0 0);
}

.navigation__burger {
  display: none;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  background: url("../../images/burger-black.svg") no-repeat center / contain;
}

.navigation__burger_type_landing {
  background: url("../../images/burger-white.svg") no-repeat center / contain;
}

@media screen and (max-width: 768px) {
  .navigation__list {
    display: none;
  }

  .navigation__link_type_profile {
    display: none;
  }

  .navigation__burger {
    display: block;
  }
}