.filter {
  padding: 21px 0 69px;
  border-bottom: 1px solid rgb(232 232 232);
}

.filter__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.filter__invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.filter__visible-checkbox {
  width: 36px;
  height: 20px;
  background: url("../../images/toggle-inactive.svg");
}

.filter__visible-checkbox_checked {
  background: url("../../images/toggle-active.svg");
}

.filter__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

/* 768px */

@media screen and (max-width: 768px) {
  .filter {
    padding: 22px 0 51px;
  }
}

/* 320px */

@media screen and (max-width: 320px) {
  .filter__text {
    font-size: 11px;
  }
}
