.login {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 70px 0;
  box-sizing: border-box;
}

.login__content {
  display: flex;
  flex-direction: column;
  flex-basis: 396px;
}

.login__logo {
  display: block;
  margin: 0 0 40px;
  width: 38px;
  min-height: 38px;
  background: url("../../images/logo.svg") no-repeat center / contain;
}

.login__greeting {
  margin: 0 0 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login__field {
  display: flex;
  flex-direction: column;
}

.login__label {
  margin: 0 0 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(160 160 160);
}

.login__input {
  padding: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(249 249 249);
}

.login__input:focus {
  outline: 1px solid rgb(160 160 160);
}

.login__input_type_error {
  color: rgb(238 52 101);
}

.login__error-message {
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  color: rgb(238 52 101);
}

.login__buttons-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
}

.login__submit-button {
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgb(255 255 255);
  border: none;
  border-radius: 3px;
  background-color: rgb(255 104 56);
}

.login__question {
  align-self: center;
  margin: 16px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(160 160 160);
}

.login__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(255 104 56);
  text-decoration: none;
}

/* 1280px */

@media screen and (max-width: 1280px) {
  .login {
    padding: calc((100vw - 768px) / (1280 - 768) * (70 - 232) + 232px) 0;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .login {
    padding: calc((100vw - 320px) / (768 - 320) * (232 - 56) + 56px) 0 calc((100vw - 320px) / (768 - 320) * (232 - 30) + 30px);
  }

  .login__content {
    padding: 0 30px;
  }
}

/* 320px */

@media screen and (max-width: 320px) {
  .login {
    padding: 56px 0 30px;
  }

  .login__logo {
    align-self: center;
    margin: 0 0 50px;
  }

  .login__greeting {
    align-self: center;
    margin: 0 0 80px;
  }

  .login__submit-button {
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .login__question {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .login__link {
    font-size: 12px;
    line-height: 15px;
  }
}
