.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.login__content {
  display: flex;
  flex-direction: column;
  flex-basis: 396px;
}

.login__logo {
  display: block;
  margin: 0 0 40px;
  width: 38px;
  height: 38px;
  background: url("../../images/logo.svg") no-repeat center / contain;
}

.login__greeting {
  margin: 0 0 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__field {
  display: flex;
  flex-direction: column;
}

.login__label {
  margin: 0 0 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(160 160 160);
}

.login__input {
  padding: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(249 249 249);
}

.login__input_type_error {
  color: rgb(238 52 101);
}

.login__error-message {
  margin: 11px 0 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  min-height: 12px;
  color: rgb(238 52 101);
}

.login__button {
  margin: 157px 0 0;
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgb(255 255 255);
  border: none;
  border-radius: 3px;
  background-color: rgb(255 104 56);
}

.login__question {
  margin: 16px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: rgb(160 160 160);
}

.login__link {
  padding: 0 0 0 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(255 104 56);
  text-decoration: none;
}
