.authentication {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.authentication__content {
  display: flex;
  flex-direction: column;
  flex-basis: 396px;
}

.authentication__logo {
  display: block;
  margin: 0 0 40px;
  width: 38px;
  height: 38px;
  background: url("../../images/logo.svg") no-repeat center / contain;
}

.authentication__greeting {
  margin: 0 0 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.authentication__question {
  align-self: center;
  margin: 16px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(160 160 160);
}

.authentication__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(255 104 56);
  text-decoration: none;
}

/* 1280px */

@media screen and (max-width: 1280px) {
  .authentication {
    padding: calc((100vw - 768px) / (1280 - 768) * (70 - 232) + 232px) 0;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .authentication {
    padding: calc((100vw - 320px) / (768 - 320) * (232 - 56) + 56px) 0
      calc((100vw - 320px) / (768 - 320) * (232 - 30) + 30px);
  }

  .authentication__content {
    padding: 0 30px;
  }

  .authentication__logo {
    margin: 0 0 calc((100vw - 320px) / (768 - 320) * (40 - 50) + 50px);
  }

  .authentication__greeting {
    margin: 0 0 calc((100vw - 320px) / (768 - 320) * (40 - 80) + 80px);
  }
}

/* 320px */

@media screen and (max-width: 320px) {
  .authentication {
    padding: 56px 0 30px;
  }

  .authentication__logo {
    align-self: center;
    margin: 0 0 50px;
  }

  .authentication__greeting {
    align-self: center;
    margin: 0 0 80px;
  }

  .authentication__submit-button {
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .authentication__question {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .authentication__link {
    font-size: 12px;
    line-height: 15px;
  }
}
