.navtab {
  padding: 24px 0;
  background: rgb(245 245 245);
}

.navtab__nav {
  display: flex;
  justify-content: center;
}

.navtab__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navtab__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(0 0 0);
  text-decoration: none;
  border-bottom: 1px solid rgb(0 0 0);
}

.navtab__link:hover {
  border-bottom: 1px solid rgb(0 0 0 / 0.7);
}

/* 768px */

@media screen and (max-width: 768px) {
  .navtab__list {
    gap: calc((100vw - 320px) / (768 - 320) * (40 - 24) + 24px);
  }

  .navtab__link {
    font-size: calc((100vw - 320px) / (768 - 320) * (13 - 11) + 11px);
  }
}

/* 320px */

@media screen and (max-width: 320px) {
  .navtab {
    padding: 25px 0;
  }

  .navtab__list {
    gap: 24px;
  }

  .navtab__link {
    font-size: 11px;
  }
}
